<!-- [nzScroll]="{ x: '270px', y: '240px' }" -->
<nz-table
  #basicTable
  [nzData]="tableData"
  [nzBordered]="tableConfig?.isBordered"
  nzSize="small"
  [nzFrontPagination]="tableConfig?.isPagination"
  [nzScroll]="tableConfig?.dimensions"
>
  <thead>
    <tr>
      <th *ngFor="let columnKey of sourceKeyColumns">
        {{ tableConfig?.translateKey + columnKey | translate }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let itemData of tableData">
      <td *ngFor="let columnKey of sourceKeyColumns">
        <ng-container [ngSwitch]="tableConfig?.config[columnKey]?.visualType">
          <ng-container *ngSwitchCase="visualTypesObj?.COLOR_TEXT">
            <span class="{{ tableConfig?.config[columnKey]?.colorType }}">{{
              itemData[columnKey]
            }}</span>
          </ng-container>
          <ng-container *ngSwitchDefault>{{
            itemData[columnKey]
          }}</ng-container>
        </ng-container>
      </td>
    </tr>
  </tbody>
</nz-table>
