@import "../../../../colors.scss";

.danger {
  color: $danger;
}

.success {
  color: $success;
}

.secondary {
  color: $secondary;
}

.warning {
  color: $warning;
}

.primary {
  color: $primary;
}

.purple {
  color: $purple;
}

.orange {
  color: $orange;
}
.deeppink {
  color: $deeppink;
}

.brown {
  color: $brown;
}

.darkturquoise {
  color: $darkturquoise;
}
.default {
  color: inherit;
}
