<nz-result
  [nzIcon]="'smile-twotone'"
  [nzTitle]="'Great, Admin Page Will Implement Soon!'"
>
  <div nz-result-extra>
    <button nz-button nzType="primary" [routerLink]="['/dashboard']">
      Back To Dashboard
    </button>
  </div>
</nz-result>
