<div nz-row [nzGutter]="[24, 10]" [nzJustify]="'start'">
  <ng-container *ngFor="let info of statusInfoData">
    <div nz-col class="info-indicator">
      <span [ngStyle]="{ 'background-color': info.color }"></span>
      - {{ info.label }} ({{ info.count }})
    </div>
  </ng-container>
</div>
