<nz-header class="headerbar">
  <div class="app-header">
    <div class="header-logo-container">
      <div class="header-logo">
        <div class="title">Hotel Management Software</div>
        <!-- <img src="assets/image/header-logo.png" alt="" srcset="" /> -->
      </div>
      <div class="header-menu" (click)="navigationToggle()">
        <i class="menu-icon" nz-icon [nzType]="'menu'"></i>
      </div>
    </div>
    <div class="header-nav-container">
      <span class="notification-area">
        <nz-badge nzDot>
          <i nz-icon nzType="bell"></i>
        </nz-badge>
      </span>
      <span class="language-selector">
        <nz-select
          [(ngModel)]="selectedLanguage"
          (ngModelChange)="handleLanguageChange($event)"
          nzPlaceHolder="Choose"
          [nzBorderless]="true"
          class="lang-select"
        >
          <nz-option
            *ngFor="let lang of languageList"
            [nzValue]="lang"
            [nzLabel]="lang | uppercase"
          ></nz-option>
        </nz-select>
      </span>
      <span class="user-info-container">
        <nz-avatar
          nzIcon="user"
          [nzSize]="40"
          nzSrc="assets/image/user-avatar.jpg"
          nz-dropdown
          [nzDropdownMenu]="profileMenu"
          nzTrigger="click"
          [nzOverlayClassName]="'profile-dropdown'"
        ></nz-avatar>
        <nz-dropdown-menu #profileMenu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item>
              <i nz-icon nzType="user" nzTheme="outline"></i>
              {{ translateKey + "profile" | translate }}
            </li>
            <li nz-menu-item>
              <i nz-icon nzType="setting" nzTheme="outline"></i>
              {{ translateKey + "setting" | translate }}
            </li>
            <li nz-menu-item [routerLink]="['/login']">
              <i nz-icon nzType="logout" nzTheme="outline"></i>
              {{ translateKey + "logout" | translate }}
            </li>
          </ul>
        </nz-dropdown-menu>
      </span>
    </div>
  </div>
</nz-header>
