@import "../../../colors.scss";

.headerbar {
  padding: 0;
  width: 100%;
  z-index: 11;
  position: fixed;
  .app-header {
    height: 64px;
    box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
    // box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
    padding: 0 10px;
    width: 100%;
    display: flex;
    align-items: center;
    // background-color: #ffffff;
    display: flex;
    .header-logo-container {
      img {
        // width: 150px;
        // height: 64px;
        width: 99px;
        height: 29px;
      }
      display: flex;
      flex-grow: 1;
      .header-menu {
        height: 64px;
        padding: 20px 13px 10px;
        font-size: 20px;
        cursor: pointer;
        display: flex;
        transition: all 0.3s, padding 0s;
      }
      .menu-icon {
        color: #ffffffcc;
        &:hover {
          color: #ffffff;
        }
      }
      .header-logo {
        width: 246px;
        border-right: 2px solid rgb(0 21 41 / 8%);
        max-width: 246px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 64px;
        padding-right: 10px;
        .title {
          color: $primary;
          text-transform: uppercase;
          line-height: 1.5;
          font-size: 15px;
          color: #ffffffcc;
          &:hover {
            color: #ffffff;
          }
        }
      }
    }
    .header-nav-container {
      display: flex;
      align-items: center;
      .user-info-container {
        cursor: pointer;
        .login-info {
          display: inline-block;
          margin-left: 10px;
          font-size: 14px;
        }
      }
      .language-selector {
        margin-right: 10px;
        nz-select {
          width: 70px;
        }
      }
      .notification-area {
        i {
          font-size: 20px;
          color: #ffffffcc;
        }
        margin-right: 30px;
      }
    }
  }
}

::ng-deep {
  .lang-select {
    nz-select-item,
    nz-select-arrow {
      color: #ffffffcc;
      font-weight: 500;
    }
  }
}
