<nz-drawer
  [nzVisible]="isVisible"
  [nzClosable]="true"
  [nzWidth]="detailConfig?.width"
  (nzOnClose)="handleClose()"
  [nzMask]="true"
  [nzTitle]="detailConfig?.title"
>
  <ng-container *nzDrawerContent>
    <nz-collapse
      [nzBordered]="true"
      [nzGhost]="true"
      [nzExpandIconPosition]="'right'"
    >
      <ng-container *ngIf="detailConfig?.isAccordion">
        <ng-container
          *ngFor="let accordConfig of detailConfig?.accordionConfig"
        >
          <ng-template #header>
            {{ translateKey + accordConfig?.titleKey | translate }} ({{
              accordConfig?.infoKey
            }})
          </ng-template>

          <nz-collapse-panel
            [nzHeader]="header"
            [nzActive]="accordConfig?.active"
            [nzDisabled]="false"
          >
            <ng-container
              *ngFor="let childIdentityKey of accordConfig?.childIdentities"
            >
              <div class="status-table">
                <app-simple-table
                  [tableConfig]="tableConfigByIdentity[childIdentityKey]"
                  [tableData]="detailData[childIdentityKey]"
                ></app-simple-table>
              </div>
            </ng-container>
          </nz-collapse-panel>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="!detailConfig?.isAccordion"> </ng-container>
    </nz-collapse>
  </ng-container>
</nz-drawer>
