<div class="front-office-home">
  <app-status-details
    [isVisible]="isStatusContainerVisible"
    (close)="handleStatusClose($event)"
  ></app-status-details>

  <div nz-row [nzJustify]="'end'" [nzGutter]="[24, 0]">
    <div nz-col>
      <button
        nz-button
        nzType="primary"
        (click)="isRoomAvailabilityModalVisible = true"
      >
        <i nz-icon nzType="carry-out"></i>
        Check Room Availability
      </button>
    </div>
    <div nz-col>
      <button
        nz-button
        nzType="primary"
        (click)="isStatusContainerVisible = true"
      >
        <i nz-icon nzType="info-circle"></i>
        Check Status
      </button>
    </div>
  </div>
  <br />

  <nz-card>
    <app-room-info-legend></app-room-info-legend>
  </nz-card>
  <br />

  <nz-card>
    <app-room-status-information></app-room-status-information>
  </nz-card>
  <br />

  <!-- Room Availability Modal Window-->
  <app-room-availability
    [isVisible]="isRoomAvailabilityModalVisible"
    (close)="handleModalClose()"
  ></app-room-availability>
</div>
