.room-card {
  background-color: rgba($color: #000000, $alpha: 0.02);
  border-left: 6px solid;
  min-height: 80px;
  max-height: 80px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.25);
  border-radius: 10px 0 20px 0;
  .room-name {
    margin: 0;
    font-size: 11px;
    padding-bottom: 5px;
    text-transform: uppercase;
    // color: white;
  }
  .room-status {
    margin: 0;
    font-size: 12px;
    text-transform: capitalize;
    // color: white;
  }
  .room-quick-action {
    min-width: 150px;
    max-width: 150px;
    width: 150px;
  }
}

::ng-deep {
  .customPopOver {
    .ant-popover-inner-content {
      padding: 0;
    }
  }
  .room-quick-action {
    p {
      cursor: pointer;
      padding: 8px 15px;
      margin: 0;
      color: #777;
      &:hover {
        color: black;
        background-color: #efefef;
      }
    }
  }
}
