<nz-tabset [nzSize]="'small'" (nzSelectChange)="handleSelectChange($event)">
  <nz-tab
    *ngFor="let tab of tabs"
    [nzTitle]="titleTemplate"
    (nzClick)="handleTableClick(tab)"
  >
    <ng-template #titleTemplate>
      <i nz-icon [nzType]="tab.icon"></i>
      {{ translateKey + tab.name | translate }}
    </ng-template>
  </nz-tab>
</nz-tabset>

<div nz-row [nzGutter]="[10, 20]" nzJustify="space-around">
  <ng-container *ngFor="let room of roomInfo">
    <div nz-col nzFlex="150px">
      <div
        nz-popover
        nzPopoverTitle="Room Action"
        [nzPopoverContent]="roomActionTemplate"
        nzPopoverTrigger="click"
        [nzPopoverOverlayClassName]="'customPopOver'"
        class="room-card"
        [ngStyle]="{
          'background-color': room.color + '33',
          'border-left-color': room.color
        }"
      >
        <p class="room-name">{{ room.name }}</p>
        <p class="room-status">{{ room.info }}</p>
      </div>
      <!-- Action Popover Template -->
      <ng-template
        #roomActionTemplate
        style="background-color: rgb(11, 51, 51)"
      >
        <div class="room-quick-action">
          <div *ngIf="room.info == 'vacant'">
            <p>Check In</p>
            <p>Resv Check In</p>
            <p>Block Room</p>
            <p>Clear Room</p>
          </div>
          <div *ngIf="room.info == 'Dirty'">
            <p>Block Room</p>
            <p>Clear Room</p>
          </div>
          <div *ngIf="room.info == 'Maintenance'">
            <p>Block Room</p>
          </div>
          <div *ngIf="room.info == 'management'">
            <p>Block Room</p>
          </div>
          <div
            *ngIf="
              room.info != 'management' && 'Maintenance' && 'vacant' && 'Dirty'
            "
          >
            <p>More Details</p>
          </div>
        </div>
      </ng-template>
    </div>
  </ng-container>
</div>
