<div class="dashboard">
  <div nz-row [nzGutter]="[{ xs: 8, sm: 16, md: 24, lg: 24 }, 18]">
    <ng-container *ngFor="let info of infoCard">
      <div
        nz-col
        class="gutter-row"
        [nzXs]="24"
        [nzSm]="12"
        [nzMd]="12"
        [nzLg]="8"
        [nzXl]="6"
      >
        <!-- 'border-left': '10px solid',
            'border-right': '2px solid',
            'border-left-color': info.color,
            'border-right-color': info.color,
            'border-radius': '10px', -->
        <nz-card
          [ngStyle]="{
            'box-shadow': '2px 0 6px rgba(0, 21, 41, 0.10)',
            'border-top': '5px solid #2c3e50'
          }"
        >
          <div class="info-card">
            <div class="info-text">
              <p>{{ translateKey + info.name | translate }}</p>
              <h1>
                {{ info.count }}
              </h1>
            </div>
            <div
              class="info-icon"
              [ngStyle]="{ 'background-color': info.color + '33' }"
            >
              <i
                nz-icon
                nzType="{{ info.icon }}"
                nzTheme="outline"
                [ngStyle]="{
                  color: info.color
                }"
              ></i>
            </div>
          </div>
        </nz-card>
      </div>
    </ng-container>
  </div>

  <!-- <div nz-row [nzGutter]="[24, 24]">
    <div nz-col nzSpan="12">
      <nz-card>
        <app-simple-table></app-simple-table>
      </nz-card>
    </div>
    <div nz-col nzSpan="12">
      <nz-card>
        <app-simple-table></app-simple-table>
      </nz-card>
    </div>
  </div> -->
  <div class="graph-container">
    <nz-card class="today-room-status" nzTitle="Today Rooms Status">
      <app-graph [chartName]="'todayRoomStatus'"></app-graph>
    </nz-card>
    <nz-card
      class="room-status to-do-card"
      nzTitle="To Do List"
      [nzExtra]="toDoOptionTemp"
    >
      <nz-table
        [nzData]="listOfData"
        [nzFrontPagination]="false"
        [nzShowPagination]="false"
        [nzScroll]="{ y: '290px' }"
      >
        <tbody cdkDropList (cdkDropListDropped)="drop($event)">
          <tr *ngFor="let data of listOfData; let i = index" cdkDrag>
            <div class="to-do-row">
              <label nz-checkbox [(ngModel)]="data.isCompletes"></label>
              <div class="to-do-content">
                <p>{{ data.title }}</p>
                <span>
                  {{ data.desc }}
                </span>
              </div>

              <i
                (click)="editBookmark(data.bookMark, i)"
                nz-icon
                nzType="star"
                [nzTheme]="data.bookMark ? 'fill' : 'twotone'"
                nzTwotoneColor="#ffcc00"
                style="color: '#ffcc00'"
              ></i>
            </div>
            <!-- <td>{{ data.title }}</td>
            <td>{{ data.task }}</td>
            <td>{{ data.bookMark }}</td> -->
          </tr>
        </tbody>
      </nz-table>
    </nz-card>
    <ng-template #toDoOptionTemp>
      <i nz-icon nzType="more" nzTheme="outline"></i>
    </ng-template>
  </div>
  <nz-card nzTitle="Rooms Status">
    <app-graph [chartName]="'roomsAvailability'"></app-graph>
  </nz-card>
</div>
