.dashboard {
  margin-top: 20px;
  .info-card {
    display: flex;
    height: 56px;
    width: 100%;
    .info-text {
      width: calc(100% - 60px);
      p {
        margin: 0;
        color: #696363;
      }
      h1 {
        margin: 0;
      }
    }
    .info-icon {
      display: flex;
      align-items: center;
      font-size: 30px;
      width: 50px;
      justify-content: center;
      border-radius: 50px;
      height: 50px;
      margin-left: 10px;
    }
  }
  .graph-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 23px 0px;
    .today-room-status {
      width: 35%;
    }
    .room-status {
      width: 63%;
    }
  }
}

::ng-deep .cdk-drag-preview {
  display: table;
}

::ng-deep .cdk-drag-placeholder {
  opacity: 0;
}
::ng-deep .to-do-card {
  .ant-card-body {
    padding: 0px;
  }
  .ant-card-body {
    margin: 10px 0px;
  }
  .ant-table-body {
    &::-webkit-scrollbar {
      width: 0;
    }
    &:hover {
      &::-webkit-scrollbar-track {
        border-radius: 5px;
      }
      &::-webkit-scrollbar {
        width: 5px;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: #a9a9a9;
        height: 30px;
      }
    }
  }
}
.to-do-row {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0px 30px;
  border-bottom: 1px solid #80808017;

  .to-do-content {
    margin: 10px 30px;
    width: 100%;
    p {
      font-weight: 500;
      font-size: 13px;
      margin: 0px;
    }
    span {
      font-size: 12px;
    }
  }
}
