<div class="login-form" nz-row [nzGutter]="{ xs: 24, sm: 24, md: 24, lg: 24 }">
  <div
    nz-col
    class="image-area"
    [nzXs]="0"
    [nzSm]="12"
    [nzMd]="15"
    [nzLg]="19"
    [nzSpan]="19"
  ></div>

  <div
    nz-col
    class="form-area"
    [nzXs]="24"
    [nzSm]="12"
    [nzMd]="9"
    [nzLg]="5"
    [nzSpan]="5"
  >
    <br />
    <br />

    <div style="margin-left: 15px">
      <img src="assets/image/logo.png" class="logo" alt="" srcset="" />
      <h5 class="quotes">MYSOFT INDIA</h5>
    </div>
    <br />
    <!-- <br /> -->
    <form
      nz-form
      [formGroup]="loginForm"
      class="login-form"
      (ngSubmit)="submitForm()"
      style="margin-left: 10px"
    >
      <nz-form-item>
        <nz-form-control nzErrorTip="Please enter your username!">
          <nz-input-group nzPrefixIcon="user">
            <input
              type="text"
              nz-input
              formControlName="userName"
              placeholder="Username"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please enter your Password!">
          <nz-input-group nzPrefixIcon="lock">
            <input
              type="password"
              nz-input
              formControlName="password"
              placeholder="Password"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <button
        nz-button
        class="login-form-button login-form-margin"
        [nzType]="'primary'"
        [nzLoading]="isLoading"
        nzBlock
      >
        Log in
      </button>
      <br />
      <br />
      <div nz-row class="login-form-margin">
        <div nz-col [nzSpan]="12">
          <label nz-checkbox formControlName="remember">
            <span>Remember me</span>
          </label>
        </div>
        <div nz-col [nzSpan]="12">
          <a class="login-form-forgot">Forgot password</a>
        </div>
      </div>
    </form>
  </div>
</div>
