.login-form {
  width: 100%;
  overflow: hidden;
  height: 100vh;
}

.image-area {
  background-image: url("../../../assets/image/bg2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.logo {
  width: 100%;
}
.quotes {
  text-align: center;
  letter-spacing: 5px;
  margin-top: -20px;
}
