<nz-content>
  <form nz-form [formGroup]="validateForm" class="login-form">
    <div nz-row [nzGutter]="[10, 10]">
      <div nz-col [nzSm]="24" [nzLg]="8">
        <nz-card nzTitle="Basic Details">
          <nz-form-item>
            <nz-form-control
              [nzSm]="24"
              [nzXs]="24"
              nzErrorTip="Please Select Title"
            >
              <nz-form-label [nzSm]="7" [nzXs]="24">Title</nz-form-label>
              <nz-select nzSize="default" class="phone-select">
                <nz-option nzLabel="Mr" nzValue="Mr"></nz-option>
                <nz-option nzLabel="Ms" nzValue="Ms"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control
              [nzSm]="24"
              [nzXs]="24"
              nzErrorTip="Please insert the Name"
            >
              <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired
                >Name</nz-form-label
              >
              <nz-input-group nzSize="default">
                <input type="text" nz-input />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control
              [nzSm]="24"
              nzErrorTip="Please insert the Last Name"
            >
              <nz-form-label [nzSm]="7" nzRequired>Last Name</nz-form-label>
              <nz-input-group nzSize="default">
                <input type="text" nz-input />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control
              [nzSm]="24"
              nzErrorTip="Please insert the Arrival By"
            >
              <nz-form-label [nzSm]="7" nzRequired>Arrival By</nz-form-label>
              <nz-input-group nzSize="default">
                <input type="text" nz-input />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control
              [nzSm]="24"
              [nzXs]="24"
              nzErrorTip="Please Select Plan"
            >
              <nz-form-label [nzSm]="7" nzRequired [nzXs]="24"
                >Plan</nz-form-label
              >
              <nz-select nzSize="default" class="">
                <nz-option nzLabel="CP" nzValue="CP"></nz-option>
                <nz-option nzLabel="EP" nzValue="EP"></nz-option>
                <nz-option nzLabel="AP" nzValue="AP"></nz-option>
                <nz-option nzLabel="MAP" nzValue="MAP"></nz-option>
                <nz-option nzLabel="007" nzValue="007"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </nz-card>
      </div>
      <div nz-col [nzSm]="24" [nzLg]="16">
        <nz-card nzTitle="Address Details">
          <nz-row>
            <div nz-col [nzLg]="12">
              <nz-form-item>
                <nz-form-control
                  [nzSm]="20"
                  nzErrorTip="Please insert the Arrival By"
                >
                  <nz-form-label [nzSm]="10" nzRequired
                    >Arrival By</nz-form-label
                  >
                  <nz-input-group nzSize="default">
                    <input type="text" nz-input />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzLg]="12">
              <nz-form-control
                [nzSm]="20"
                [nzXs]="24"
                nzErrorTip="Please insert the Address 2"
              >
                <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired
                  >Address 2
                </nz-form-label>
                <nz-input-group nzSize="default">
                  <input type="text" nz-input />
                </nz-input-group>
              </nz-form-control>
            </div>
          </nz-row>

          <nz-row>
            <div nz-col [nzLg]="12">
              <nz-form-item>
                <nz-form-control
                  [nzSm]="20"
                  nzErrorTip="Please insert the City"
                >
                  <nz-form-label [nzSm]="5" nzRequired>City</nz-form-label>
                  <nz-input-group nzSize="default">
                    <input type="text" nz-input />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzLg]="12">
              <nz-form-item>
                <nz-form-control
                  [nzSm]="20"
                  nzErrorTip="Please insert the City"
                >
                  <nz-form-label [nzSm]="5" nzRequired>Zip</nz-form-label>
                  <nz-input-group nzSize="default">
                    <input type="text" nz-input />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
          </nz-row>

          <nz-row>
            <div nz-col [nzLg]="12">
              <nz-form-item>
                <nz-form-control
                  [nzSm]="20"
                  nzErrorTip="Please insert the Country"
                >
                  <nz-form-label [nzSm]="10" nzRequired>Country</nz-form-label>
                  <nz-input-group nzSize="default">
                    <input type="text" nz-input />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzLg]="12">
              <nz-form-item>
                <nz-form-control
                  [nzSm]="20"
                  nzErrorTip="Please insert the State"
                >
                  <nz-form-label [nzSm]="10" nzRequired>State</nz-form-label>
                  <nz-input-group nzSize="default">
                    <input type="text" nz-input />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
          </nz-row>

          <nz-row>
            <div nz-col [nzLg]="12">
              <nz-form-item>
                <nz-form-control
                  [nzSm]="20"
                  nzErrorTip="Please insert the Country"
                >
                  <nz-form-label [nzSm]="10" nzRequired>Phone </nz-form-label>
                  <nz-input-group nzSize="default">
                    <input type="text" nz-input />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzLg]="12">
              <nz-form-item>
                <nz-form-control
                  [nzSm]="20"
                  nzErrorTip="Please insert the State"
                >
                  <nz-form-label [nzSm]="10" nzRequired>Email</nz-form-label>
                  <nz-input-group nzSize="default">
                    <input type="text" nz-input />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
          </nz-row>

          <nz-row>
            <div nz-col [nzLg]="12">
              <nz-form-item>
                <nz-form-control [nzSm]="20" nzErrorTip="Please Select Status">
                  <nz-form-label [nzSm]="10" nzRequired>Status</nz-form-label>
                  <nz-select nzSize="default" class="">
                    <nz-option nzLabel="Confirm" nzValue="Confirm"></nz-option>
                    <nz-option
                      nzLabel="Cancelled"
                      nzValue="Cancelled"
                    ></nz-option>
                    <nz-option
                      nzLabel="Tentative"
                      nzValue="Tentative"
                    ></nz-option>
                    <nz-option
                      nzLabel="Waitlist"
                      nzValue="Waitlist"
                    ></nz-option>
                    <nz-option nzLabel="Noshow" nzValue="Noshow"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
          </nz-row>
        </nz-card>
      </div>
    </div>
    <br />
    <div nz-row [nzGutter]="[24, 0]">
      <div nz-col [nzSm]="24" [nzLg]="16">
        <nz-card nzTitle="Company Details">
          <nz-row>
            <div nz-col [nzLg]="12">
              <nz-form-item>
                <nz-form-control
                  [nzSm]="20"
                  [nzXs]="24"
                  nzErrorTip="Please insert the Company Name"
                >
                  <nz-form-label [nzSm]="10" [nzXs]="24"
                    >Company Name
                  </nz-form-label>
                  <nz-input-group nzSize="default">
                    <input type="text" nz-input />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzLg]="12">
              <nz-form-item>
                <nz-form-control
                  [nzSm]="20"
                  [nzXs]="24"
                  nzErrorTip="Please insert the GSTIN"
                >
                  <nz-form-label [nzSm]="10" [nzXs]="24">GSTIN </nz-form-label>
                  <nz-input-group nzSize="default">
                    <input type="text" nz-input />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
          </nz-row>

          <nz-row>
            <div nz-col [nzLg]="12">
              <nz-form-item>
                <nz-form-control
                  [nzSm]="20"
                  [nzXs]="24"
                  nzErrorTip="Please insert the Address 1"
                >
                  <nz-form-label [nzSm]="10" [nzXs]="24"
                    >Address 1
                  </nz-form-label>
                  <nz-input-group nzSize="default">
                    <input type="text" nz-input />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzLg]="12">
              <nz-form-item>
                <nz-form-control
                  [nzSm]="20"
                  [nzXs]="24"
                  nzErrorTip="Please insert the Address 2"
                >
                  <nz-form-label [nzSm]="10" [nzXs]="24"
                    >Address 2
                  </nz-form-label>
                  <nz-input-group nzSize="default">
                    <input type="text" nz-input />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
          </nz-row>

          <nz-row>
            <div nz-col [nzLg]="12">
              <nz-form-item>
                <nz-form-control
                  [nzSm]="20"
                  nzErrorTip="Please insert the City"
                >
                  <nz-form-label [nzSm]="10">City</nz-form-label>
                  <nz-input-group nzSize="default">
                    <input type="text" nz-input />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzLg]="12">
              <nz-form-item>
                <nz-form-control
                  [nzSm]="20"
                  nzErrorTip="Please insert the City"
                >
                  <nz-form-label [nzSm]="10">Zip</nz-form-label>
                  <nz-input-group nzSize="default">
                    <input type="text" nz-input />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
          </nz-row>

          <nz-row>
            <div nz-col [nzLg]="12">
              <nz-form-item>
                <nz-form-control
                  [nzSm]="20"
                  nzErrorTip="Please insert the Country"
                >
                  <nz-form-label [nzSm]="10">Country</nz-form-label>
                  <nz-input-group nzSize="default">
                    <input type="text" nz-input />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzLg]="12">
              <nz-form-item>
                <nz-form-control
                  [nzSm]="20"
                  nzErrorTip="Please insert the State"
                >
                  <nz-form-label [nzSm]="10">State</nz-form-label>
                  <nz-input-group nzSize="default">
                    <input type="text" nz-input />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
          </nz-row>

          <nz-row>
            <div nz-col [nzLg]="12">
              <nz-form-item>
                <nz-form-control
                  [nzSm]="20"
                  nzErrorTip="Please insert the Country"
                >
                  <nz-form-label [nzSm]="10">Phone </nz-form-label>
                  <nz-input-group nzSize="default">
                    <input type="text" nz-input />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzLg]="12">
              <nz-form-item>
                <nz-form-control
                  [nzSm]="20"
                  nzErrorTip="Please insert the State"
                >
                  <nz-form-label [nzSm]="10" nzRequired>Email</nz-form-label>
                  <nz-input-group nzSize="default">
                    <input type="text" nz-input />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
          </nz-row>
          <nz-form-item> </nz-form-item>
        </nz-card>
      </div>
      <nz-col [nzSm]="24" [nzLg]="8">
        <nz-card>
          <nz-form-item>
            <nz-form-control
              [nzSm]="20"
              nzErrorTip="Please insert the Identity No"
            >
              <nz-form-label [nzSm]="10">Identity No :</nz-form-label>
              <nz-input-group nzSize="default">
                <input type="text" nz-input />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control
              [nzSm]="20"
              nzErrorTip="Please insert the Pickup det"
            >
              <nz-form-label [nzSm]="10">Pickup det</nz-form-label>
              <nz-input-group nzSize="default">
                <input type="text" nz-input />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control
              [nzSm]="20"
              nzErrorTip="Please insert the FO Instr"
            >
              <nz-form-label [nzSm]="10">FO Instr</nz-form-label>
              <textarea nz-input nzAutosize></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control
              [nzSm]="20"
              nzErrorTip="Please insert the F&B Instr"
            >
              <nz-form-label [nzSm]="10">F&B Instr</nz-form-label>
              <textarea nz-input nzAutosize></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control
              [nzSm]="20"
              nzErrorTip="Please insert the HKP Instr"
            >
              <nz-form-label [nzSm]="10">HKP Instr</nz-form-label>
              <textarea nz-input nzAutosize></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control
              [nzSm]="20"
              nzErrorTip="Please insert the Spl Instr."
            >
              <nz-form-label [nzSm]="10">Spl Instr</nz-form-label>
              <textarea nz-input nzAutosize></textarea>
            </nz-form-control>
          </nz-form-item>
        </nz-card>
      </nz-col>
    </div>
    <br />
    <div nz-row [nzGutter]="[24, 0]">
      <div nz-col [nzSm]="24" [nzLg]="24">
        <nz-card nzTitle="Broker Details">
          <div nz-row>
            <div nz-col [nzLg]="8">
              <nz-form-item>
                <nz-form-control
                  [nzSm]="20"
                  [nzXs]="24"
                  nzErrorTip="Please insert the Booker Name"
                >
                  <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired
                    >Broker Name
                  </nz-form-label>
                  <nz-input-group nzSize="default">
                    <input type="text" nz-input />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzLg]="8">
              <nz-form-control
                [nzSm]="20"
                [nzXs]="24"
                nzErrorTip="Please insert the Booker No"
              >
                <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired
                  >Broker No
                </nz-form-label>
                <nz-input-group nzSize="default">
                  <input type="text" nz-input />
                </nz-input-group>
              </nz-form-control>
            </div>
            <div nz-col [nzLg]="8">
              <nz-form-control
                [nzSm]="20"
                [nzXs]="24"
                nzErrorTip="Please insert the Voucher No"
              >
                <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired
                  >Voucher No
                </nz-form-label>
                <nz-input-group nzSize="default">
                  <input type="text" nz-input />
                </nz-input-group>
              </nz-form-control>
            </div>
          </div>
        </nz-card>
      </div>
    </div>
    <br />

    <div nz-row [nzGutter]="[24, 0]">
      <div nz-col [nzSm]="24" [nzLg]="24">
        <nz-card nzTitle="Mandatory Details">
          <div nz-row>
            <div nz-col [nzLg]="8">
              <nz-form-item>
                <nz-form-control
                  [nzSm]="20"
                  [nzXs]="24"
                  nzErrorTip="Please insert the Guest Type "
                >
                  <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired
                    >Guest Type
                  </nz-form-label>
                  <nz-input-group nzSize="default">
                    <input type="text" nz-input />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzLg]="8">
              <nz-form-control
                [nzSm]="20"
                [nzXs]="24"
                nzErrorTip="Please insert the Type of billing"
              >
                <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired
                  >Type of billing</nz-form-label
                >
                <nz-input-group nzSize="default">
                  <input type="text" nz-input />
                </nz-input-group>
              </nz-form-control>
            </div>
            <div nz-col [nzLg]="8">
              <nz-form-control
                [nzSm]="20"
                [nzXs]="24"
                nzErrorTip="Please insert the Business Source"
              >
                <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired
                  >Business Source
                </nz-form-label>
                <nz-input-group nzSize="default">
                  <input type="text" nz-input />
                </nz-input-group>
              </nz-form-control>
            </div>
          </div>
          <div nz-row>
            <div nz-col [nzLg]="8">
              <nz-form-item>
                <nz-form-control
                  [nzSm]="20"
                  [nzXs]="24"
                  nzErrorTip="Please insert the Market Segment  "
                >
                  <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired
                    >Market Segment
                  </nz-form-label>
                  <nz-input-group nzSize="default">
                    <input type="text" nz-input />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzLg]="8">
              <nz-form-control
                [nzSm]="20"
                [nzXs]="24"
                nzErrorTip="Please insert the Purpose of visit"
              >
                <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired
                  >Purpose of visit</nz-form-label
                >
                <nz-input-group nzSize="default">
                  <input type="text" nz-input />
                </nz-input-group>
              </nz-form-control>
            </div>
            <div nz-col [nzLg]="8">
              <nz-form-control
                [nzSm]="20"
                [nzXs]="24"
                nzErrorTip="Please insert the Pay Mode"
              >
                <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired
                  >Pay Mode
                </nz-form-label>
                <nz-input-group nzSize="default">
                  <input type="text" nz-input />
                </nz-input-group>
              </nz-form-control>
            </div>
          </div>
          <div nz-row>
            <div nz-col [nzLg]="8">
              <nz-form-item>
                <nz-form-control
                  [nzSm]="20"
                  [nzXs]="24"
                  nzErrorTip="Please insert the Rate  "
                >
                  <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired
                    >Rate</nz-form-label
                  >
                  <nz-input-group nzSize="default">
                    <input type="text" nz-input />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzLg]="8">
              <nz-form-control
                [nzSm]="20"
                [nzXs]="24"
                nzErrorTip="Please insert the Disc"
              >
                <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired
                  >Disc</nz-form-label
                >
                <nz-input-group nzSize="default">
                  <input type="text" nz-input />
                </nz-input-group>
              </nz-form-control>
            </div>
            <div nz-col [nzLg]="8">
              <nz-row>
                <div nz-col [nzLg]="12">
                  <nz-form-control
                  [nzSm]="20"
                  [nzXs]="24"
                  nzErrorTip="Please insert the Tax Incl"
                >
                  <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired
                    >Tax Incl </nz-form-label
                  ><br />
                  <label nz-checkbox></label>
                </nz-form-control>
                </div>
                <div nz-col [nzLg]="12">
                  <nz-form-control
                  [nzSm]="20"
                  [nzXs]="24"
                  nzErrorTip="Please insert the Tax Incl"
                >
                  <nz-form-label [nzSm]="12" [nzXs]="24" nzRequired
                    >Addon's </nz-form-label
                  ><br />
                  <button nz-button nzType="primary" nzShape="circle"><i nz-icon nzType="plus" nzTheme="outline"></i></button>

                  <!-- <label nz-checkbox></label> -->
                </nz-form-control>
                </div>
              </nz-row>

            </div>
          </div>
          <div nz-row>
            <div nz-col [nzLg]="8">
              <nz-form-item>
                <nz-form-control
                  [nzSm]="20"
                  [nzXs]="24"
                  nzErrorTip="Please insert the Food %  "
                >
                  <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired
                    >Food %</nz-form-label
                  >
                  <nz-input-group nzSize="default">
                    <input type="text" nz-input />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzLg]="8">
              <nz-form-control
                [nzSm]="20"
                [nzXs]="24"
                nzErrorTip="Please insert the Bev %"
              >
                <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired
                  >Bev %</nz-form-label
                >
                <nz-input-group nzSize="default">
                  <input type="text" nz-input />
                </nz-input-group>
              </nz-form-control>
            </div>
            <div nz-col [nzLg]="8">
              <nz-form-control
                [nzSm]="20"
                [nzXs]="24"
                nzErrorTip="Please insert the Liq %"
              >
                <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired
                  >Liq %</nz-form-label
                >
                <nz-input-group nzSize="default">
                  <input type="text" nz-input />
                </nz-input-group>
              </nz-form-control>
            </div>
          </div>
          <br>




          <div nz-row>
            <div nz-col [nzLg]="24">
              <nz-table
              [nzData]="[0, 1, 2, 3]"
              #basicTable

              [nzShowPagination]="false"
            >

            <thead>
              <tr>
                <th>Room Type</th>
                <th>Single</th>
                <th>Double</th>
                <th>Tripple</th>
                <th>Quad</th>
                <th>Exp</th>
                <th>Exc</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><input type="text" nz-input /></td>
                <td><input type="text" nz-input /></td>
                <td><input type="text" nz-input /></td>
                <td><input type="text" nz-input /></td>
                <td><input type="text" nz-input /></td>
                <td><input type="text" nz-input /></td>
                <td><input type="text" nz-input /></td>
              </tr>
              <tr>
                <td><input type="text" nz-input /></td>
                <td><input type="text" nz-input /></td>
                <td><input type="text" nz-input /></td>
                <td><input type="text" nz-input /></td>
                <td><input type="text" nz-input /></td>
                <td><input type="text" nz-input /></td>
                <td><input type="text" nz-input /></td>
              </tr>
            </tbody>
              </nz-table>
            </div>
          </div>

        </nz-card>
      </div>
    </div>
    <br />

    <div nz-row [nzGutter]="[24, 24]">
      <div nz-col [nzLg]="24">
        <nz-card nzTitle="Specification Details">
          <nz-table
            [nzData]="[0, 1, 2, 3]"
            #basicTable
            [nzScroll]="{ x: '2000px', y: null }"
            [nzShowPagination]="false"
          >
            <thead>
              <tr>
                <th>Arr Date</th>
                <th>Arr Time</th>
                <th>Dep Date</th>
                <th>Dep Time</th>
                <th>No of days</th>
                <th>Room type</th>
                <th>Rms</th>
                <th>Sgle</th>
                <th>Dbl</th>
                <th>Trpl</th>
                <th>Quad</th>
                <th>Exp</th>
                <th>Exc</th>
                <th>Tot Pax</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <nz-form-item>
                    <nz-form-control [nzSm]="24" [nzLg]="24" [nzXs]="24">
                      <nz-date-picker></nz-date-picker>
                    </nz-form-control>
                  </nz-form-item>
                </td>
                <td>
                  <nz-time-picker></nz-time-picker>
                </td>
                <td>
                  <nz-form-item>
                    <nz-form-control [nzSm]="24" [nzLg]="24" [nzXs]="24">
                      <nz-date-picker></nz-date-picker>
                    </nz-form-control>
                  </nz-form-item>
                </td>
                <td>
                  <nz-time-picker></nz-time-picker>
                </td>
                <td><input type="number" nz-input /></td>
                <td>
                  <nz-form-item>
                    <nz-form-control [nzSm]="24" [nzLg]="24" [nzXs]="24">
                      <nz-select nzSize="default" class="phone-select">
                        <nz-option nzLabel="DLX" nzValue="DLX"></nz-option>
                        <nz-option nzLabel="GV" nzValue="GV"></nz-option>
                        <nz-option nzLabel="STD" nzValue="STD"></nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                </td>
                <td><input type="text" nz-input /></td>
                <td><input type="text" nz-input /></td>
                <td><input type="text" nz-input /></td>
                <td><input type="text" nz-input /></td>
                <td><input type="text" nz-input /></td>
                <td><input type="text" nz-input /></td>
                <td><input type="text" nz-input /></td>
                <td>
                  <input type="text" nz-input />
                </td>
              </tr>
              <tr>
                <td>
                  <nz-form-item>
                    <nz-form-control [nzSm]="24" [nzLg]="24" [nzXs]="24">
                      <nz-date-picker></nz-date-picker>
                    </nz-form-control>
                  </nz-form-item>
                </td>
                <td>
                  <nz-time-picker></nz-time-picker>
                </td>
                <td>
                  <nz-form-item>
                    <nz-form-control [nzSm]="24" [nzLg]="24" [nzXs]="24">
                      <nz-date-picker></nz-date-picker>
                    </nz-form-control>
                  </nz-form-item>
                </td>
                <td>
                  <nz-time-picker></nz-time-picker>
                </td>
                <td>
                  <input type="number" nz-input />
                </td>
                <td>
                  <nz-form-item>
                    <nz-form-control [nzSm]="24" [nzLg]="24" [nzXs]="24">
                      <nz-select nzSize="default" class="phone-select">
                        <nz-option nzLabel="DLX" nzValue="DLX"></nz-option>
                        <nz-option nzLabel="GV" nzValue="GV"></nz-option>
                        <nz-option nzLabel="STD" nzValue="STD"></nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                </td>
                <td><input type="text" nz-input /></td>
                <td><input type="text" nz-input /></td>
                <td><input type="text" nz-input /></td>
                <td><input type="text" nz-input /></td>
                <td><input type="text" nz-input /></td>
                <td><input type="text" nz-input /></td>
                <td><input type="text" nz-input /></td>
                <td>
                  <input type="text" nz-input />
                </td>
              </tr>
              <tr>
                <td>
                  <nz-form-item>
                    <nz-form-control [nzSm]="24" [nzLg]="24" [nzXs]="24">
                      <nz-date-picker></nz-date-picker>
                    </nz-form-control>
                  </nz-form-item>
                </td>
                <td>
                  <nz-time-picker></nz-time-picker>
                </td>
                <td>
                  <nz-form-item>
                    <nz-form-control [nzSm]="24" [nzLg]="24" [nzXs]="24">
                      <nz-date-picker></nz-date-picker>
                    </nz-form-control>
                  </nz-form-item>
                </td>
                <td>
                  <nz-time-picker></nz-time-picker>
                </td>
                <td>
                  <input type="number" nz-input />
                </td>
                <td>
                  <nz-form-item>
                    <nz-form-control [nzSm]="24" [nzLg]="24" [nzXs]="24">
                      <nz-select nzSize="default" class="phone-select">
                        <nz-option nzLabel="DLX" nzValue="DLX"></nz-option>
                        <nz-option nzLabel="GV" nzValue="GV"></nz-option>
                        <nz-option nzLabel="STD" nzValue="STD"></nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                </td>
                <td><input type="text" nz-input /></td>
                <td><input type="text" nz-input /></td>
                <td><input type="text" nz-input /></td>
                <td><input type="text" nz-input /></td>
                <td><input type="text" nz-input /></td>
                <td><input type="text" nz-input /></td>
                <td><input type="text" nz-input /></td>
                <td>
                  <input type="text" nz-input />
                </td>
              </tr>
              <tr>
                <td>
                  <nz-form-item>
                    <nz-form-control [nzSm]="24" [nzLg]="24" [nzXs]="24">
                      <nz-date-picker></nz-date-picker>
                    </nz-form-control>
                  </nz-form-item>
                </td>
                <td>
                  <nz-time-picker></nz-time-picker>
                </td>
                <td>
                  <nz-form-item>
                    <nz-form-control [nzSm]="24" [nzLg]="24" [nzXs]="24">
                      <nz-date-picker></nz-date-picker>
                    </nz-form-control>
                  </nz-form-item>
                </td>
                <td>
                  <nz-time-picker></nz-time-picker>
                </td>
                <td>
                  <input type="number" nz-input />
                </td>
                <td>
                  <nz-form-item>
                    <nz-form-control [nzSm]="24" [nzLg]="24" [nzXs]="24">
                      <nz-select nzSize="default" class="phone-select">
                        <nz-option nzLabel="DLX" nzValue="DLX"></nz-option>
                        <nz-option nzLabel="GV" nzValue="GV"></nz-option>
                        <nz-option nzLabel="STD" nzValue="STD"></nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                </td>
                <td><input type="text" nz-input /></td>
                <td><input type="text" nz-input /></td>
                <td><input type="text" nz-input /></td>
                <td><input type="text" nz-input /></td>
                <td><input type="text" nz-input /></td>
                <td><input type="text" nz-input /></td>
                <td><input type="text" nz-input /></td>
                <td>
                  <input type="text" nz-input />
                </td>
              </tr>
            </tbody>
          </nz-table>
        </nz-card>
      </div>
      <div nz-col class="buttons" [nzLg]="24">
        <button nzAlign="center" nz-button nzType="primary">
          <i nz-icon nzType="save"></i>Save
        </button>
        <button nzAlign="center" nz-button nzDanger>
          <i nz-icon nzType="close"></i>Close
        </button>
      </div>
    </div>
    <!-- <br>
        <div nz-row [nzGutter]=[24,0]>

             <div nz-col nzSpan="24">
                <nz-card class="buttons">
                    <nz-row>

                    </nz-row>
                </nz-card>
            </div>

    <div nz-col class="buttons" [nzLg]="24">
                <nz-card>
                    <button nz-space nzAlign="center" nz-button nzType="primary"><i nz-icon
                            nzType="save"></i>Save</button>
                    <button nz-space nzAlign="center" nz-button nzDanger><i nz-icon nzType="close"></i>Close</button>
                </nz-card>
            </div>
        </div> -->
  </form>
</nz-content>
