.inner-layout-collapsed {
  margin-left: 80px !important;
  // transition: all 0.2s;
}

::ng-deep .inner-layout {
  margin-left: 256px;
  overflow-y: scroll;
  margin-top: 65px;
  height: calc(100vh - 65px);
  padding: 0 24px 24px;
  // transition: all 0.2s;
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.164);
    border-radius: 5px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar {
    width: 9px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.164);
  }
}

nz-breadcrumb {
  margin: 16px 0;
}
