<nz-layout class="app-layout">
  <app-header></app-header>
  <nz-layout>
    <app-sidebar></app-sidebar>
    <nz-layout
      [ngClass]="{
        'inner-layout': true,
        'inner-layout-collapsed': isCollapsed
      }"
    >
      <!-- <nz-breadcrumb>
        <nz-breadcrumb-item>Home</nz-breadcrumb-item>
      </nz-breadcrumb> -->
      <!-- <app-sub-header-bar></app-sub-header-bar> -->
      <div class="content">
        <div *ngIf="isLoading">
          <app-loader [zIndex]="2" placement="Full"></app-loader>
        </div>
        <router-outlet class="layout"></router-outlet>
      </div>
    </nz-layout>
  </nz-layout>
</nz-layout>
