.menu-sidebar {
  position: fixed;
  z-index: 10;
  height: calc(100vh - 50px);
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
  top: 51px;
  // background-color: white;
  overflow: auto;
  .side-bar-head {
    background-color: #3e5871;
    padding: 20px;
    height: 70px;
    margin-top: 13px;
    display: flex;
    align-items: center;
    .user-info {
      padding-left: 15px;
      h4 {
        margin: 0;
        color: white;
        font-size: 15px;
      }
      p {
        margin: 0;
        color: #ffffffcc;
        font-size: 13px;
      }
    }
  }
  &::-webkit-scrollbar {
    width: 0;
  }
  &:hover {
    &::-webkit-scrollbar-track {
      border-radius: 5px;
    }
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: #a9a9a9;
      height: 30px;
    }
  }
}
