<nz-sider
  class="menu-sidebar"
  nzCollapsible
  nzWidth="256px"
  nzBreakpoint="md"
  [(nzCollapsed)]="isCollapsed"
  [nzTrigger]="null"
  (nzCollapsedChange)="handleCollapsedChanges($event)"
  nzTheme="dark"
>
  <div class="side-bar-head">
    <nz-avatar
      nzIcon="user"
      [nzSize]="45"
      nzSrc="assets/image/user-avatar.jpg"
    ></nz-avatar>
    <div class="user-info" *ngIf="!isCollapsed">
      <h4>Manikandan</h4>
      <p>Admin</p>
    </div>
  </div>
  <ul nz-menu nzMode="inline" nzTheme="dark" [nzInlineCollapsed]="isCollapsed">
    <ng-container *ngFor="let menu of menuList">
      <li
        nz-menu-item
        nzMatchRouter
        nz-tooltip
        nzTooltipPlacement="right"
        nzTooltipTitle="{{
          isCollapsed ? (translateKey + menu.name | translate) : null
        }}"
      >
        <i nz-icon nzType="{{ menu.icon }}"></i>
        <span
          ><a routerLink="{{ menu.route }}">{{
            translateKey + menu.name | translate
          }}</a></span
        >
      </li>
    </ng-container>
  </ul>
</nz-sider>
