.sub-menu-bar {
  position: fixed;
  right: 0;
  top: 64px;
  left: 250px;
  transition: all 0.3s;
  z-index: 9;
}

.menu-collapsed {
  left: 80px;
  transition: all 0.3s;
}

::ng-deep {
  .ant-menu-sub {
    width: 200px;
  }
}
