<div class="sub-menu-bar" [ngClass]="{ 'menu-collapsed': isCollapsed }">
  <ul nz-menu nzMode="horizontal">
    <ng-container *ngFor="let menu of menuList">
      <li
        *ngIf="menu.isSubMenu"
        nz-submenu
        [nzTitle]="menu?.name"
        [nzIcon]="menu?.icon"
      >
        <ul>
          <ng-container *ngFor="let subMenu of menu.child">
            <li *ngIf="subMenu.isSubMenu" nz-submenu [nzTitle]="subMenu.name">
              <ul>
                <ng-container *ngFor="let nestSubMenu of subMenu.child">
                  <li nz-menu-item (click)="navigate(nestSubMenu?.route)">
                    {{ nestSubMenu.name }}
                  </li>
                </ng-container>
              </ul>
            </li>
            <li
              nz-menu-item
              (click)="navigate(subMenu?.route)"
              *ngIf="!subMenu?.isSubMenu"
            >
              {{ subMenu.name }}
            </li>
          </ng-container>
        </ul>
      </li>
      <li
        nz-menu-item
        (click)="navigate(menu?.route)"
        *ngIf="!menu?.isSubMenu"
        nzSelected
      >
        <i nz-icon [nzType]="menu?.icon"></i>
        {{ menu.name }}
      </li>
    </ng-container>
  </ul>

  <!-- <ul nz-menu nzMode="horizontal">
    <li
      nz-menu-item
      nz-dropdown
      [nzDropdownMenu]="menu"
      [nzPlacement]="'topLeft'"
    >
      <i nz-icon nzType="mail"></i>
      Home
    </li>
    <li nz-menu-item nz-dropdown [nzDropdownMenu]="menu">
      <i nz-icon nzType="mail"></i>
      Masters
    </li>
    <li nz-menu-item nz-dropdown [nzDropdownMenu]="menu">
      <i nz-icon nzType="appstore"></i>
      Reservation
    </li>
    <li nz-menu-item nz-dropdown [nzDropdownMenu]="menu">
      <i nz-icon nzType="appstore"></i>
      Transaction
    </li>
    <li nz-menu-item nz-dropdown [nzDropdownMenu]="menu">
      <i nz-icon nzType="mail"></i>
      Accounts
    </li>
    <li nz-menu-item nz-dropdown [nzDropdownMenu]="menu">
      <i nz-icon nzType="appstore"></i>
      Reports
    </li>
    <li nz-menu-item nz-dropdown [nzDropdownMenu]="menu">
      <i nz-icon nzType="appstore"></i>
      Prints
    </li>
  </ul> -->
</div>

<nz-dropdown-menu #menu="nzDropdownMenu">
  <nz-card>
    <div nz-row [nzGutter]="24">
      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <p>Hi sdfsdfsd sdfsdf</p>
          <p>Hi sfsfsdfsdf sdfs dfsdfsdf</p>
          <p>Hi sdfsdfsd sdfsdf</p>
          <p>Hi sfsfsdfsdf sdfs dfsdfsdf</p>
        </div>
      </div>

      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <p>Hi sdfsdfsd sdfsdf</p>
          <p>Hi sfsfsdfsdf sdfs dfsdfsdf</p>
          <p>Hi sdfsdfsd sdfsdf</p>
          <p>Hi sfsfsdfsdf sdfs dfsdfsdf</p>
        </div>
      </div>

      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <p>Hi sdfsdfsd sdfsdf</p>
          <p>Hi sfsfsdfsdf sdfs dfsdfsdf</p>
          <p>Hi sdfsdfsd sdfsdf</p>
          <p>Hi sfsfsdfsdf sdfs dfsdfsdf</p>
        </div>
      </div>

      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <p>Hi sdfsdfsd sdfsdf</p>
          <p>Hi sfsfsdfsdf sdfs dfsdfsdf</p>
          <p>Hi sdfsdfsd sdfsdf</p>
          <p>Hi sfsfsdfsdf sdfs dfsdfsdf</p>
        </div>
      </div>
    </div>
  </nz-card>
</nz-dropdown-menu>
