<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Available Room Status"
  (nzOnCancel)="handleCancel()"
  [nzWidth]="1000"
  [nzFooter]="null"
  [nzStyle]="{ top: '20px' }"
>
  <ng-container *nzModalContent>
    <div nz-row nzAlign="middle" nzJustify="end" [nzGutter]="[24, 24]">
      <div nz-col nzFlex="4">
        <label for="">Room Type : </label>
        <nz-select [(ngModel)]="roomType">
          <nz-option
            *ngFor="let room of roomTypesOptions"
            [nzValue]="room.value"
            [nzLabel]="room.label"
          ></nz-option>
        </nz-select>
      </div>
      <div nz-col nzFlex="2">
        <label for="">Select Date : </label>
        <nz-date-picker
          [(ngModel)]="selectWeek"
          (ngModelChange)="dateOnChange($event)"
          [nzMode]="'month'"
        ></nz-date-picker>
      </div>

      <div nz-col nzFlex="1">
        <button nz-button nzType="primary" (click)="mapDate()">
          <!-- <i nz-icon nzType="filter"></i> -->
          <i nz-icon nzType="search" nzTheme="outline"></i>
          Apply Filter
        </button>
      </div>

      <div nz-col nzSpan="24">
        <!-- <app-simple-table
          [tableConfig]="roomStatusConfig"
          [tableData]="roomAvailableStatus"
        ></app-simple-table> -->
        <nz-table
          #basicTable
          [nzData]="roomAvailabilityNew"
          nzSize="small"
          [nzFrontPagination]="false"
          [nzBordered]="true"
          [nzOuterBordered]="true"
          [nzScroll]="{ x: '1000px' }"
          class="customTable"
        >
          <thead>
            <tr
              *ngFor="let data of roomAvailabilityNewHeader; let index = index"
            >
              <th
                style="background-color: #efefefbd; border-color: #dddddd7a"
                *ngFor="let col of roomAvailableColumns"
              >
                {{ data[col] }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of basicTable.data">
              <td *ngFor="let col of roomAvailableColumns">
                {{ data[col] }}
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
    <!-- <div nz-row></div> -->
  </ng-container>
</nz-modal>
