$primary: #1abc9c;
$bg-dark: #2c3e50;
$body-bg: #e9e9e9;
$primary-default: #3390ff;
$secondary: #00000073;
$success: #52c41a;
$warning: #faad14;
$danger: #ff4d4f;
$violet: violet;
$purple: purple;
$orange: orange;
$deeppink: deeppink;
$deepskyblue: deepskyblue;
$brown: brown;
$darkturquoise: darkturquoise;
