$screen-xs-min: 360px;
$screen-xs-max: 575px;
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;
$screen-sm-max: 767px;
// Small tablets (portrait view)
$screen-md-min: 768px;
$screen-md-max: 991px;
// Tablets and small desktops
$screen-lg-min: 992px;
$screen-lg-max: 1999px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices

@mixin xs {
  @media (min-width: #{$screen-xs-min}) and (max-width: #{$screen-xs-max}) {
    @content;
  }
}

@mixin sm {
  @media (min-width: #{$screen-sm-min}) and (max-width: #{$screen-sm-max}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) and (max-width: #{$screen-md-max}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) and (max-width: #{$screen-lg-max}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}
