@import "../node_modules/c3/c3.min.css";
/* You can add global styles to this file, and also import other style files */
.ant-card-body {
  padding: 20px;
}
.ant-card-head {
  padding: 0 20px;
}
.ant-card-head-title {
  padding: 11px 0;
  font-size: 15px;
  font-weight: 500;
}
body {
  overflow: hidden;
}
